<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tike</name>
    <description>Made with Cordova</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org%22%3E/">
        Hedera Perhaj
    </author>
    <content src="index.html" />
    <allow-intent href="http://%2A/*" />
    <allow-intent href="https://%2A/*" />

    <platform name="android">

        <icon src="/www/img/logo.png" />
        <splash src="/www/img/splash.png"/>

         <preference name="SplashScreen" value="screen" />
        <feature name="SplashScreen" >
            <param
                name="android-package"
                value="org.apache.cordova.splashscreen.SplashScreen" />

            <param
                name="onload"
                value="true" />
        </feature>
        <preference name="AutoHideSplashScreen" value="true" /> <!-- defaults to "true" -->
        <preference name="SplashScreenDelay" value="7000" /> <!-- defaults to "3000" -->
        <preference name="ShowSplashScreen" value="true" /> <!-- defaults to "true" -->

    </platform>

    <platform name="ios">
        <preference name="SplashScreen" value="screen" />
        <preference name="AutoHideSplashScreen" value="true" /> <!-- defaults to "true" -->
        <preference name="ShowSplashScreen" value="true" /> <!-- defaults to "true" -->
        <preference name="SplashScreenWidth" value="200" /> <!-- defaults to "170" -->
        <preference name="SplashScreenHeight" value="200" /> <!-- defaults to "200" -->
        <icon src="www/img/logo.png" />
    </platform>

    <platform name="browser">

    </platform>

</widget>